//- Миксины
include global/head

<!DOCTYPE html>
html(lang="ru")
	head
		+head(
			'Главная страница'
		)
	body
		.wrapper
			//- Header
			include global/header

			//- Блоки
			main.main
				.b-block
					.__item._type

			//- Footer
			include global/footer

		//- Скрипты
		include global/scripts
