mixin head(title)
	head
		meta(charset="utf-8")
		title= title
		meta(name="keywords" content="keywords")
		meta(name="description" content="description")
		meta(name="viewport" content="initial-scale=1.0, width=device-width")
		meta(name="format-detection" content="telephone=no")
		link(rel="shortcut icon" sizes="16x16" href="favicon.ico" type="image/x-icon")
		<!--inject:pluginsHead:css-->
		<!--endinject-->
		<!--inject:plugins:css-->
		<!--endinject-->
		<!--inject:css-->
		<!--endinject-->
